.content {
    background-color: #fff;
    box-shadow: 1px 5px 9px #757373;
    padding: 8px;
    border-radius: 10px;
    max-width: 600px;
    cursor: pointer;
    margin-top: 16px;
    position: relative;
}

.join {
    padding: 8px;
    border-radius: 10px;
    max-width: 100px;
    color: #fff;
    position: absolute;
    bottom: 10px;
    right: 20px;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}

@media(max-width:800px) {
    .content {
        max-width: 400px
    }
}