.contentpageEvent {
  width: 800px;
  margin-top: 40px;

}

.event {
  position: absolute;
  top: 10px;
  left: 350px;
  font-family: "Arial", sans-serif;
}

.title {
  font-weight: 600;
  font-size: 24px
}

@media(max-width:1224px) {
  .event {
    left: 150px
  }
}