.event {
  padding-bottom: 64px;
}

.contentpageEvent {
  width: 700px;
  margin-top: 40px;
  max-width: calc(100vw - 32px);
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
}

.event {
  position: absolute;
  top: 10px;
  left: 350px;
  font-family: "Arial", sans-serif;
  padding-bottom: 64px;
}

.title {
  font-weight: 600;
  font-size: 24px
}

.boxEvent {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media(max-width:1224px) {
  .event {
    left: 150px
  }
}

@media(max-width:600px) {
  .event {
    left: 0px;
    padding: 16px;
    margin-top: 64px;
    padding-bottom: 64px
  }


}