.content {
    display: flex;
    width: 100%;
    max-width: 700px;
    height: 200px;
    gap: 16px;
}

.left {
    width: 20%;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right {
    width: 80%;
    background-color: blue;
    display: flex;
    justify-content: flex-start;
    padding: 16px;
    flex-direction: column;
    gap: 16px;
    color: #fff;
}

.title {
    font-size: 24px;
}

.description {
    font-size: 14px
}

.date {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 4px;
    font-size: 12px;
    opacity: 0.9;
}