.content {
    margin-left: 350px;
    margin-top: 40px;
    font-family: "Arial", sans-serif;
    z-index: 20 !important;
    max-width: calc(100vw - 32px);
}

.head {
    position: fixed;
    // width: 100%;
    top: 0px;
    left: 325px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20 !important;
    background-color: #fff;
    margin-left: 16px;
    gap: 32px;
}

.name {
    //position: absolute;
    width: 140px;
    padding: 8px 2px;
    left: 130px;
    background: #0166B1;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    color: #fff;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}




.effectif {
    width: 140px;
    padding: 8px 2px;
    left: 130px;
    background: #0166B1;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    color: #fff;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}

.messageInput {
    position: fixed;
    bottom: 8px;
    left: 340px;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: #fff;
    width: 100%;
    height: 50px;
    justify-content: flex-start;
    z-index: 10;
}




.contentInput {
    width: calc(70vw - 32px);
    max-width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
}

.input {
    width: 100%;
    max-width: 100%;
}

.chat {
    position: absolute;
    bottom: 72px;
    left: 350px;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    height: 80vh;
    max-height: 100%;
    width: calc(70vw - 32px);
}

.notmessage {
    position: absolute;
    bottom: 72px;
    left: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.styleMessage {
    font-size: 14px;
    font-weight: bold;
    opacity: 0.7;
    color: #0166B1;
}

::-webkit-scrollbar {
    width: 0.5em;
    background-color: transparent;
}

.iconInfo {
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}

@media(max-width: 1224px) {

    .head,
    .chat {
        left: 150px;
    }

    .messageInput {
        left: 150px;
    }

    .notmessage {
        left: 250px;
    }
}

@media(max-width: 900px) {
    .notmessage {
        left: 180px;
    }

    .imageNotMessage {
        width: 400px !important;
    }
}

@media(max-width: 600px) {

    .chat {
        left: 16px;
        width: calc(100vw - 32px);
    }

    .head {
        left: 16px;
        max-width: calc(100vw - 32px);
    }

    .messageInput {
        left: 16px;
    }

    .contentInput {
        width: calc(100vw - 32px)
    }

    .name {
        left: -8px;
        top: 14px !important;
    }

    .effectif {
        top: 24px;
        left: 206px;
    }

    .notmessage {
        left: 16px;
    }

    .imageNotMessage {
        display: none;
    }
}