.content {
  background-color: #6f6f6f;
  top: 0;
  left: 0;
  width: 325px;
  height: 100%;
  position: fixed;
  justify-content: center;
  display: flex;
  align-items: center;
      font-family: "Arial", sans-serif;
}

.categorie-box {
  color: #fff;
}

.categorie {
  padding: 16px;
  text-align: center;
  width: 290px;
  &:hover {
    opacity: 0.7;
    background-color: #5f5f58;
  }
}

.profil {
  padding: 16px;
    text-align: center;
  
    &:hover {
      opacity: 0.7;
      background-color: #5f5f58;
    }
}

.logo {
  position: fixed;
  left: 60px;
  top: 0 !important;
  color: #fff;
  padding: 0;
}

